* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Russo One', sans-serif; }

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  align-items: center;
  font-size: 22px;
  flex-wrap: wrap; }

.header_logo {
  font-size: 33px; }

.header_tel {
  color: #000; }

.main {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 100px;
  text-align: center; }

.main_title {
  margin: 0 0 50px 0; }

.main_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px 0; }

.main_list-item {
  list-style-type: none;
  margin: 20px;
  width: 250px;
  padding: 20px 0;
  color: #000;
  border-radius: 20px; }
  .main_list-item i {
    font-size: 100px;
    margin: 0 0 15px 0; }

.main_list-title {
  margin: 0 0 15px 0; }

.main_link {
  color: #000;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
  transition: all 1s; }
  .main_link:hover {
    background-color: #FFF; }

.main_form {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000;
  padding: 40px;
  background-color: #FFF;
  border-radius: 30px; }

.main_form-title {
  margin: 0 0 20px 0; }

.main_input {
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
  border-radius: 20px; }

.main_form-descr {
  margin: 0 0 30px 0; }

.main_form-btn {
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.2s; }
  .main_form-btn:hover {
    background-color: #000;
    color: #fff; }
